@{
    ViewData["Title"] = "Home Page";
}
<div>
    <h1>Anti Psychotic Max Dose Ready Reckoner</h1>
    <p>
        Simply add each drug line from the list below. The % the patient is currently utilising regarding the max doses will be tallied.
        This information is taken from <b>POMH-UK Antipsychotic Dosage Ready Reckoner - version 9.1 July 2021</b>,
        which may be viewed here: <a href="./data/POMHRR.png" download>download.</a> 
        The website uses this file: <a href="./data/drugs.csv" download.>download.</a>
    </p>
</div>
<div class="text-center input-group">
    <form>
        <label>
            Select drug:
            <select required="required" name="drugs" id="drug" class="form-select overflow-hidden" 
            style="white-space: pre-wrap;  overflow: hidden;  text-overflow: ellipsis;  max-width: 300px;">
                @foreach (var item in Model)
                {
                    <option maxDose="@item.MaxDose" drugName="@item.Name.Trim()" value="@item.Id">@item.Name.Trim(), @item.Route.Trim(), @item.Frequency.Trim()</option>
                }
            </select>
        </label>
        <label>
            Enter patient's dose:
            <input required="required" type="number" min="1" id="dose" placeholder="100" />
        </label>
        <button class="btn-primary" id="AddToList" type="submit">Add drug to list</button>
        <button class="btn-secondary" type="reset" id="Reset">Reset</button>
    </form>
</div>
<div id="resultsArea" class="text-md-center">
    <hr />
    <div id="utilisationContainer" class="text-lg-center align-content-center card alert-info">
        <label class="font-weight-bolder">
            Overall Max Dosage Utilisation (%):
            <input class="border-0 text-lg-center" id="percentage" type="number" value="0" readonly
                   style="background: rgba(0, 0, 0, 0);border: none;outline: none;" />
        </label>
        <div id="warnings">
            <p class="text-lg-center text-dark font-weight-bolder" id="percentageWarning"></p>
        </div>
    </div>
    <hr />
    <table id="resultData" class="table d-md-inline-flex justify-content-center flex-wrap"></table>
</div>
<div class="text-center badge-light">
    <hr />
    <h4>Drug Symbol Key:</h4>
    <br />
    <p>No symbol - no dose note.</p>
    <p>+ - Maintenance dose licensed to be given monthly.</p>
    <p>++ - Formulation licensed to be given every 3 months.</p>
    <p>+++ - A maximum of 150mg in any 48-hour period and a maximum cumulative dose of 200mg in any two week period.</p>
    <hr />
</div>